rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    function isClinician() {
      return request.auth != null &&
        request.auth.token.email != null &&
        firestore.exists(
          /databases/(default)/documents/clinician_accounts/$(request.auth.token.email.lower())
        );
    }

    match /reports/{uid}/{allPaths=**} {
      allow read: if
        (request.auth != null && request.auth.uid == uid) ||
        isClinician();
      allow write: if false;
    }

    match /reports/anon/{allPaths=**} {
      allow read: if isClinician();
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
